<footer class="animated fadeIn">
    <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 footer-navigation">
        <div><img src="assets/img/SquareLogoCampotech_800x430px_BGTransp.png" id="login_imagelogo"></div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 footer-contacts">
        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
            <p><span id="spanEndereco" class="new-line-span">{{ dataService.infoFooterData.addressRuaENumero }}</span><span id="spanEndereco" class="new-line-span">{{ dataService.infoFooterData.addressBairro }}</span>{{ dataService.infoFooterData.addressCEP }}</p>
        </div>
        <div><i class="fa fa-phone footer-contacts-icon"></i>
            <p class="footer-center-info email text-left">{{ dataService.infoFooterData.phone }}</p>
        </div>
        <div><i class="fa fa-envelope footer-contacts-icon"></i><a href="{{ dataService.infoFooterData.mailto }}">{{ dataService.infoFooterData.email }}</a></div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 footer-about">
        <div>
            <h4>{{ dataService.infoFooterData.aboutTitle }}</h4>
            <p>{{ dataService.infoFooterData.aboutText }}</p>
            <div id="login_divmediacontact" class="social-links social-icons"><a href= "{{ dataService.infoFooterData.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a><a href="{{ dataService.infoFooterData.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="{{ dataService.infoFooterData.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a>
                <p class="company-name">High-Z Vale Indústrial Eletrônica LTDA © {{ ano }} </p>
            </div>
        </div>
    </div>
    </div>
</footer>