/*PAGE*/

.table th {
    text-align: center;   
 }

.table td {
    text-align: center;   
}


/*SVG Loading*/

svg path,
svg rect {
    fill: black;
}

#abacate {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
  }